 <details
                    id="Details-{{ filter.param_name | escape }}-{{ section.id }}"
                    class="{% if filter_type == 'horizontal' %}disclosure-has-popup facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
                    data-index="0.1"
                    {% if filter_type == 'vertical' and forloop.index == 1 %}
                      open
                    {% endif %}
                 style="position:relative;"  >



                    <summary  class="facets__summary caption-large focus-offset">
                      <div>
                        <span class="facets__summary-label">Collections</span><svg aria-hidden="true" focusable="false" class="icon icon-caret" viewBox="0 0 10 6">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
</path></svg>

                      </div>
                    </summary>

                    
                

                     <div
                      id="Facet-0.1-{{ section.id }}"
                      class="parent-display facets__display"
                      style="z-index:1" 
                    >
                    
                    
                    
                    
                    <fieldset class="facets-wrap parent-wrap  facets-wrap-vertical">
                       
                        <ul class="facets-layout-list facets__list--vertical list-unstyled no-js-hidden" role="list">


                        <input type="hidden" id="collection-handle" value="tag-{{ collection.handle }}"> 
                        

{%- for block in section.blocks -%}

    {% assign collection_handle = block.settings.collection %}
    {% assign collection = collections[collection_handle] %}





                            <li class="list-menu__item facets__item">

                              <label for="tag-{{ collection.handle }}" class="facets__label facet-checkbox">

                                <input type="checkbox" name="collection_url" value="{{ collection.url }}" id="tag-{{ collection.handle }}">

                                
                                  <svg width="1.6rem" height="1.6rem" viewBox="0 0 16 16" aria-hidden="true" focusable="false">
                                    <rect width="16" height="16" stroke="currentColor" fill="none" stroke-width="1"></rect>
                                  </svg>

                                  <svg aria-hidden="true" class="icon icon-checkmark" width="1.1rem" height="0.7rem" viewBox="0 0 11 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1.5 3.5L2.83333 4.75L4.16667 6L9.5 1" stroke="currentColor" stroke-width="1.75" stroke-linecap="round" stroke-linejoin="round"></path>
                                  </svg>
                                

                                <span class="facet-checkbox__text" aria-hidden="true">{{ collection.title }}</span>
                                <span class="visually-hidden">{{ collection.title }}</span>
                              </label>
                            </li>

                            {%- endfor -%}

                           </ul>
                       
                      </fieldset>
                    </div>
                  </details>




<script>

const collectionHandle = document.querySelector('#collection-handle');

const checkboxes = document.querySelectorAll('[name="collection_url"]');



checkboxes.forEach(function(checkbox) {

if(checkbox.id == collectionHandle.value ){
  checkbox.checked = true;
}

console.log(checkbox.id == collectionHandle.value);

    checkbox.addEventListener('change', function() {
        // Check if the checkbox is checked
        if (checkbox.checked) {
            // Redirect to the URL specified in the checkbox value
            window.location.href = checkbox.value;
        }
    });
});



</script>