<style>

  .custom-collection-banner {
    width: 100%;
    min-height: 335px;
    background-size: cover !important;
    background-position: center;
    background: #000;
    background-image: url('');
    background-size: auto;
    padding: 20px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 60px;
    align-items: center;
    flex-direction: column;

  }

  .collection-hero__title {
    color: #fff;
  }

  .collection-hero__description * {
    color: #fff;

  }

  .custom-collection-banner h1.collection-hero__title,
  .custom-collection-banner h2,
  .custom-collection-banner h3,
  .custom-collection-banner h4,
  .custom-collection-banner h5,
  .custom-collection-banner h6 {
    font-size: 28px;
  }

  .custom-collection-banner p {
    font-size: 24px;
  }
</style>
{%- if section.settings.show_collection_image and collection.image %}
<div
  class="custom-collection-banner"
  {%- if section.settings.show_collection_image and collection.image -%}style="background-image:url('{{ collection.image | image_url}}' )"{%- endif -%}>


  {%- if section.settings.logo -%}

    <img src="{{ section.settings.logo |  img_url: 'master' }}"  class="banner-logo">

  {%- endif -%}

  <h1
    class="collection-hero__title">
    <span
      class="visually-hidden">{{ 'sections.collection_template.title' | t }}:
    </span>
    {{- collection.title | escape -}}
  </h1>


  {%- if section.settings.show_collection_description -%}
    <div
      class="collection-hero__description rte">{{ collection.description }}</div>
  {%- endif -%}

  
</div>

{% else %}

default image

{% endif %}

{% schema %}
  {
    "name": "t:sections.main-collection-banner.name",
    "class": "section",
    "settings": [

      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo Image",
        "info": "logo Image"
      },
      {
        "type": "paragraph",
        "content": "t:sections.main-collection-banner.settings.paragraph.content"
      },
      {
        "type": "checkbox",
        "id": "show_collection_description",
        "default": true,
        "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "default": false,
        "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
        "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
      }, {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "background-1"
      }
    ]
  }
{% endschema %}